<!DOCTYPE html>
<html lang="pr-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/criar.css" />
    <title>Adicionar filme</title>
  </head>

  <body>
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/sobre">Sobre</a>
        </li>
      </ul>
    </nav>

    <h1>Gostaria de adicinar um filme?</h1>

    <!-- <% if(message != "") { %>
    <section id="message">
      <p><%= message %></p>
      <span id="close">&times;</span>
    </section>
    <% } %> -->

    <form action="/criar" method="POST">
      <section class="card-container">
        <section class="inside-card">
          <div>
            <label for="nome">Nome do filme que será incluido: </label>
            <input
              type="text"
              name="nome"
              id="nome"
              placeholder="Nome"
              required
            />
          </div>
        </section>

        <section class="inside-card">
          <div>
            <label for="imagem">Link do poster que será incluido: </label>
            <input
              type="text"
              name="imagem"
              id="imagem"
              placeholder="Link"
              required
            />
            <a href="https://www.blu-ray.com/theatrical/" target="__blank"
              >Posters!</a
            >
          </div>
        </section>

        <section class="inside-card">
          <div>
            <label for="descricao">Sinopse do filme que será incluido: </label>
            <input
              type="text"
              name="descricao"
              id="descricao"
              placeholder="Sinopse"
            />
          </div>
        </section>

        <button type="submit">Adicionar</button>
      </section>
    </form>

    <script src="/js/script.js"></script>
  </body>
</html>
