<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/sobre.css" />
    <title>Sobre</title>
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
      </ul>
    </nav>

    <h1>Obrigado pela visita!</h1>

    <section class="codepens">
      <section class="text1">
        Hello there! Eu sou o Lorenzo C. Bianchi e este é um projeto referente
        ao módulo 02 da BlueEdTech escola que está me preparando para o
        maravilhoso mundo da programação. Aqui foi usado: HTML5 + CSS3 + NodeJS
        + Express + PostgreSQL (CRUD).
      </section>

      <ul>
        <li>
          <a href="https://github.com/Laurentius96" target="blank"
            >Lorenzo's GitHub</a
          >
        </li>
   
    </section>
  </body>
</html>
